//
   Created by shushu on 4/23/17.

extends layout

block content

    div(id='main')

    -var data_path='static/javascripts/function_area_'+type+'.js';

    script(src='http://api.map.baidu.com/api?v=2.0&ak=1XjLLEhZhQNUzd93EjU5nOGQ')
    script(src='static/javascripts/Mapv.min.js')
    script(src='static/javascripts/BaiduMap_cityCenter.js')
    script(src='static/javascripts/example.js')
    script(src!=data_path)



    script.
        bmap.centerAndZoom(new BMap.Point(104.06, 30.67), 12);
        bmap.addControl(new BMap.NavigationControl());

        var mapv = new Mapv({
            drawTypeControl: true,
            map: bmap
        });


        var layer = new Mapv.Layer({
            mapv: mapv,
            zIndex: 1,
            dataType: 'point',
            data: data,
            drawType: 'density',
            drawOptions: {
                type: "rect",
                size: 100,
                unit: 'px',
                opacity: '0.5',
                label: {
                    show: true,
                },
                gradient: {
                    '.1': 'blue',
                    '.2': 'cyan',
                    '.3': 'lime',
                    '.4': 'yellow',
                    '.5': 'red'
                },
                events: {
                    click: function (e, data) {
                        console.log('click', e, data)
                    }
                }
            },
        });