extends layout

block content
  div(class='wrapper')
    div(class='main')
      section(class='page1')
        div(class='page_container')
          h1 成都市功能区分析及展示

      section(class='page2')
        div(class='page_container')
          div(class='text-box')
            h2 交通作为城市的血液对城市经济产生怎样的影响？
            h2 如何从交通流中获取更多城市经济的信息？

      section(class='page3')
        div(class='page_container')
          div(class='text-box')
            h1 洞悉城市生活方式
            h2 分析居民出行模式、POI分布
            h2 得到功能区分布

      section(class='page4')
        //这一个section的背景图片是一个成都市的OD分布，点少一点，地图用黑色背景
        div(class='page_container')
          div(class='text-box')
            h1 掌握城市呼吸节奏
            h2 分析区域OD分布

      section(class='page5')
        div(class='page_container')
          h1 了解城市发展趋势
          h2 展示楼盘价格，租房价格

      section(class='page6')
        div(class='page_container')
          a(href='/function_area?type=community') 进入展示页


  script.
    $(document).ready(function(){
        $(".main").onepage_scroll({
            sectionContainer:"section",
            responsiveFallback:600,
            loop:false
        });
    });






