doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='static/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='static/stylesheets/master-css.css')
    link(rel='stylesheet', href='static/stylesheets/onepage-scroll.css')
    script(src='static/javascripts/jquery-1.12.2.js')
    script(src='static/javascripts/bootstrap.min.js')
    script(src='static/javascripts/jquery.onepage-scroll.min.js')

  body
    div(class='navibar')
      nav(class='navbar navbar-default')
        div(class='container-fluid')
          div(class='navbar-header')
            a(class='navbar-brand' href='#')
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
              li
                a 成都市功能区
            ul(class='nav navbar-nav navbar-right')
              -if(title=='index')
                li(class='active')
                  a(href="/") 首页
              -else
                li
                  a(href="/") 首页

              li(role='presentation' class='dropdown')
                a(class='dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') 功能区展示
                  span(class='caret')
                ul(class='dropdown-menu')
                  li
                    a(href='/function_area?type=community') 居民区
                  li
                    a(href='/function_area?type=commerce') 商业区
                  li
                    a(href='/function_area?type=entertainment') 娱乐区

              -if(title=='real_estate')
                li(class='active')
                  a(href="/real_estate") 房价实例
              -else
                li
                  a(href="/real_estate") 房价实例

              -if(title=='OD')
                li(class='active')
                  a(href="/OD") 交通出行
              -else
                li
                  a(href="/OD") 交通出行

    block content

