//
   Created by shushu on 4/22/17.
extends layout

block content
    div(id='main')

    script(src='static/javascripts/OD/6_filter.js')
    script(src='static/javascripts/OD/7_filter.js')
    script(src='static/javascripts/OD/8_filter.js')
    script(src='static/javascripts/OD/9_filter.js')
    script(src='static/javascripts/OD/10_filter.js')
    script(src='static/javascripts/OD/11_filter.js')
    script(src='static/javascripts/OD/12_filter.js')
    script(src='static/javascripts/OD/13_filter.js')
    script(src='static/javascripts/OD/14_filter.js')
    script(src='static/javascripts/OD/15_filter.js')
    script(src='static/javascripts/OD/16_filter.js')
    script(src='static/javascripts/OD/17_filter.js')
    script(src='static/javascripts/OD/18_filter.js')
    script(src='static/javascripts/OD/19_filter.js')
    script(src='static/javascripts/OD/20_filter.js')
    script(src='static/javascripts/OD/21_filter.js')
    script(src='static/javascripts/OD/22_filter.js')
    script(src='static/javascripts/OD/23_filter.js')
    //script(src='http://libs.baidu.com/jquery/2.0.0/jquery.js')
    script(src='http://api.map.baidu.com/api?v=2.0&ak=0UqXGL98FSmi22w2Rl6HK56I')
    script(src='static/javascripts/echarts.js')
    script(src='static/javascripts/bmap.js')

    script(src='static/javascripts/OD.js')


